* {
    margin: 0;
    padding: 0;
  }
  
  #page1 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
  }
  
  #page1 {
    background-color: #EBF1DE;
  }
  
  #page2 {
    background-color: DarkOrange;
  }

  .slide-in {
    animation: change 0.5s ease forwards;
  }

  .main-img{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 30vh;
  }

  .main-img img{
    width : 300px;
    height : 300px;
  }
  
  @keyframes change {
    from {
      transform: translateX(100%);
      visibility: visible;
    }
  
    to {
      transform: translateX(0%);
    }
  }