    .menu_btn{
        text-align: right;
    }
    .menu_bg{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        display: none;
        z-index:50;
    }
    .sidebar_menu{
        display: none;
        width: 50%;
        height: 100%;
        background: #C8BFE7;
        position: absolute;
        top:0;
        left: -50%;
        z-index:100;
    }
    .close_btn{
        width: 25px;
        height: 25px;
        margin:10px;
    }
    .close_btn > a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .menu_wrap{
        list-style: none;
        padding: 20px 20px;   
    }
    .menu_wrap li a{
        color: #fff;
        text-decoration: none;
    }
